header {
    position: fixed;
    background-color: #000;
    top: 0;
    width: 100%;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  
}

header, h1 {
    text-align: center;
    font-size: 25px;
}

header nav ul {
    list-style: none;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    display: inline-flex;
    justify-content: space-around;
}

header nav a  {
    text-decoration: none;
    color: white;

}

header nav a:hover {
    color: rgb(64, 185, 241);
}