* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
    color: rgb(64, 185, 241);
}

.titulo { 
    font-size: 15px;
    letter-spacing: 4px;
    text-align: center;
    flex: 1;
    margin-left: 200px;
}

/* logo gonçalves*/
.logo img { 
    width: 80px;
    height: auto;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system,'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 8vh;
    padding: 0 20px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px; 
}

main {
    background: url(imagens/fundo\ site.png) no-repeat center center;
    background-size: cover;
    height: 92vh;
}

/* Mobile menu (hamburguer) */
.mobile-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px; /* Coloca o hambúrguer à direita */
    top: 4%;
    transform: translateY(-50%); /* Alinha verticalmente ao centro */
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .titulo { 
        margin-right: 200px;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: -100%; /* Inicialmente fora da tela à direita */
        width: 35vw;
        height: 92vh;
        background-color: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: right 0.3s ease-in-out; /* Usar right para a transição */
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block; /* Exibe o hambúrguer em telas pequenas */
    }
}

.nav-list.active {
    right: 0; /* Menu aparece deslizando da direita para a esquerda */
}

@keyframes navLinkFade {
    from { 
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
